div.create-question-container {
  form.create-question-form {
    display: inline-block;
    max-width: 90%;
    width: 100%;
  }

  &.normal {
    form.create-question-form {
      display: inline-block;
      max-width: 50%;
    }

    mat-form-field.option {
      width: 90%;
    }
  }

  &.popup {
    form.create-question-form {
      display: inline-block;
      max-width: 90%;
    }

    mat-form-field.option {
      width: 80%;
    }
  }

  mat-form-field.question {
    width: 100%;

    ::ng-deep .mat-form-field-underline {
      display: none;
    }

    ::ng-deep .mat-form-field-label {
      margin-left: 5px;
      margin-top: 2px;
    }
  }
  mat-form-field.description {
    width: 100%;

    ::ng-deep .mat-form-field-underline {
      display: none;
    }

    ::ng-deep .mat-form-field-label {
      margin-left: 5px;
      margin-top: 2px;
    }
  }

  .option-placeholder {
    background: #ccc;
    border: solid 2px black;
    border-radius: 5px;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  input {
    width: 100%;
  }

  textarea.question {
    width: 100%;
    resize: none;
    border: 1px solid black;
    border-radius: 5px;
    height: 100px;
  }

  textarea.description {
    width: 100%;
    resize: none;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
  }

  mat-slide-toggle {
    margin-top: 16px;
    float: right;
  }

  div.button-row {

    button.primary-action {
      color: white;
      background-color: green;
    }

    button.draft {
      color: white;
      background-color: #575757;
      float: right;
    }

    .sp {
      margin-left: 10px;
    }

    .sp-top {
      margin-top: 10px;
    }
  }

  @media (max-width: 718px) {
    form.create-question-form {
      display: inline-block !important;
      max-width: 80% !important;
      width: 100% !important;
    }
    textarea {
      .question {
        height: 150px !important;
      }

      .description {
        height: 50px !important;
      }
    }

    mat-form-field.option {
      width: 80% !important;
    }
  }

  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
