<div class="sign-up-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <a routerLink="/">
      <img class="logo" src="../../../../assets/icons/icon-512x512.png" alt="Logotype"/>
    </a>
    <mat-card-header>
      <mat-card-title>Sign up</mat-card-title>
    </mat-card-header>

    <form class="sign-up-form" (ngSubmit)="submitSignUpForm()" [formGroup]="registerForm">
      <mat-card-content>
        <mat-form-field class="input-full-width">
          <input matInput id="sign-up-username" placeholder="Username" formControlName="username" autocomplete="false"
                 (keydown.space)="$event.preventDefault();" #username [value]="username.value.toLowerCase()">
          <mat-error *ngIf="form().username.getError('required')">
            Username is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form().username.getError('unique_username')">
            This username is already in use
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-full-width">
          <input matInput id="sign-up-email" type="email" placeholder="Email" formControlName="email" autocomplete="false"
                 (keydown.space)="$event.preventDefault();">
          <mat-error *ngIf="form().email.getError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form().email.getError('email')">
            Email is <strong>not valid</strong>
          </mat-error>
          <mat-error *ngIf="form().email.getError('unique_email')">
            This email is already in use
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-full-width">
          <input matInput id="sign-up-password" type="password" placeholder="Password" formControlName="password" autocomplete="false"
                 (keydown.space)="$event.preventDefault();">
          <mat-error *ngIf="form().password.getError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-full-width">
          <input matInput id="sign-up-repeat-password" type="password" placeholder="Repeat password" formControlName="passwordRepeat" autocomplete="false"
                 (keydown.space)="$event.preventDefault();">
          <mat-error *ngIf="form().passwordRepeat.getError('required')">
            Repeat password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form().passwordRepeat.getError('mustMatch')">
            Passwords <strong>must match</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-full-width">
          <input matInput id="sign-up-full-name" placeholder="Full name" formControlName="fullName" autocomplete="false">
          <mat-error *ngIf="form().fullName.getError('required')">
            Full name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block" [disabled]="requesting">
        <mat-icon *ngIf="requesting"><mat-spinner diameter="20">
        </mat-spinner></mat-icon>Sign Up</button>
    </form>
    <div class="sign-up-other-options-container">
      Already have Murcy account?
      <a routerLink="/log-in">Log in here!</a>
    </div>
  </mat-card>
</div>
