mat-sidenav {
  width: 250px;
}

span.current-app-name {
  flex: 1 1 auto;
  text-align: center;
}

.app-sidenav-navigation-container {
  &.auto {
    height: auto;
  }

  &.default {
    height: 100vh;
  }
  position: fixed;
  overflow: auto;
}

div.swipe-div {
  width: 50px;
  position: absolute;
  height: 100%;
}

.sidenav-container {
  /* Firefox */
  height: -moz-calc(100% - 64px)!important;
  /* WebKit */
  height: -webkit-calc(100% - 64px)!important;
  /* Standard */
  height: calc(100% - 64px)!important;
}
