<mat-accordion>
  <mat-expansion-panel *ngIf="hasUserPermission">
    <mat-expansion-panel-header>
      <mat-panel-title>
        User configuration
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <a mat-list-item (click)="logout()">Logout</a>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="hasAdminPermission">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Murcy configuration
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <a mat-list-item routerLink=".">ADMIN CONF 1</a>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="hasUserPermission">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Requests
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <a mat-list-item routerLink="." *ngIf="hasUserPermission">Editor request</a>
      <a mat-list-item routerLink="viewClients" *ngIf="hasEditorPermission">Active requests</a>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>


