div.editor-request-manage-filter {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-form-field {
    margin-right: 10px;
  }

  @media (max-width: 600px) {
    mat-form-field:nth-of-type(2) {
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
  }
}

div.editor-request-manage-container {
  display: flex;
  align-items: center;
  justify-content: center;

  table.editor-request-table {
    min-width: 75%;
    max-width: 300px;
    width: 100%;

    tr.request-item-detail-row {
      height: 0;
    }

    tr.request-element-row:not(.request-expanded-row):hover {
      background: whitesmoke;
    }

    tr.request-element-row:not(.request-expanded-row):active {
      background: #efefef;
    }

    .request-element-row {
      td {
        border-bottom-width: 0;
      }
      td.status {
        margin-right: 10vh;
        margin-top: 10px;
        display: inline-block;
        padding: 5px 10px 5px 10px;
        border-radius: 2px;
        font-weight: bolder;
        &.approved {
          border: 1px solid green;
          color: green;
        }

        &.denied {
          border: 1px solid red;
          color: red;
        }

        &.pending {
          border: 1px solid grey;
          color: grey;
        }
      }
    }

    .request-item-detail {
      overflow: hidden;
      display: flex;

      div.request-item-detail-workflow {
        min-width: 75%;
        padding: 8px;
        margin: 8px 0;

        app-workflow-manage-display {
          max-width: 300px;
          width: 100%;
        }
      }
    }
  }
}

mat-paginator {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
