mat-accordion {
  .mat-expansion-panel-spacing {
    margin: 0;
  }

  fa-icon {
    margin-right: 5px;
  }

  fa-icon.alone {
    margin-left: 6px;
  }

  fa-icon.joined {
    margin-right: -1px !important;
    margin-left: -9px !important;
  }
}
