<div class="play-quiz-container">
  <div class="start-container" *ngIf=" quiz && currentIndex === -1">
    <h2>{{quiz.title}}</h2>
    <p>{{quiz.description ? quiz.description: 'No description provided'}}</p>
    <button mat-raised-button color="primary" (click)="start()">Start playing</button>
  </div>
  <div class="question-container" *ngIf="currentIndex > -1 && !end">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title [ngClass]="currentQuestion.title.length > 60 ? 'reduced' : ''">{{currentQuestion.title}}</mat-card-title>
        <mat-card-subtitle [ngClass]="currentQuestion.title.length > 60 ? 'reduced' : ''">{{currentQuestion.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="questionForm">
          <div *ngIf="!currentQuestion.isMultiple">
            <mat-radio-group formControlName="selected">
              <ul>
                <li *ngFor="let option of currentQuestion.options">
                  <mat-radio-button color="primary" [value]="option.id">
                    {{option.title}}
                  </mat-radio-button>
                </li>
              </ul>
            </mat-radio-group>
          </div>
          <div *ngIf="currentQuestion.isMultiple">
            <ul>
              <li *ngFor="let option of currentQuestion.options; index as index">
                <mat-checkbox color="primary" [value]="option.id + ''"  [formControlName]="'option' + (index + 1)">{{option.title}}</mat-checkbox>
              </li>
            </ul>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="next()" [disabled]="disableNextButton()">Next</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="results-container" *ngIf="currentIndex > -1 && end">
    <p>{{formatMillisToTimeString(elapsedTime)}}</p>
    <p>{{points}} / {{quiz.questions.length}}</p>
  </div>
</div>
